<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OOcharts | Setup your Server</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="bower_components/pure/pure.css"/>
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.css"/>
    <link rel="stylesheet" href="styles/setup.css"/>
</head>
<body>

    <main id="main">
        <div class="sticky-wrap">
            <header id="header">
                Setup OOcharts
            </header>
            <div id="main-content">
                {{{body}}}
            </div>
        </div>
        <footer id="footer"></footer>
    <main id="main">

    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="scripts/setup.js"></script>
</body>
</html>