<div class="configure-success-container container">
    <div class="configure-success-msg">
        <strong>Nice!</strong> OOcharts server is ready to go! Here is your API Key:

        <pre class="api-key">{{apiKey}}</pre>

        <p class="hint">If you ever lose it, just take a look in <strong>/config/env/instance.json</strong> for the <strong>apiKey</strong> property.</p>
    </div>
</div>