body {
    background : #fff;
    color : #333;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
}

#main {
    max-width: 960px;
    margin : 10px auto;
}

#header {
    padding : 30px 30px;
    border-bottom : 1px solid #e0e0e0;
    font-size : 24px;
    color : #555;
}

#main-content {
    padding : 30px;
}

.pure-button-primary {
    background-color: #5677fc;
}

.form-group {
    margin-bottom : 20px;
}

.form-group > label {
    margin-bottom : 10px;
}

.form-group > .help-block{
    font-size : 14px;
    color : #777;
    margin-bottom: 10px;
}

.form-actions {
    padding : 20px 30px;
    margin-top : 40px;
    border-top : 1px solid #e0e0e0;
    margin-left : -30px;
    margin-right : -30px;
}

.message {
    padding : 20px 20px;
    padding-right : 60px;
    border-radius : 4px;
    margin-bottom: 20px;
    position: relative;
    display: none;
}

.message.message-error {
    background: #BA3A51;
    color: #fff;
}

.message .message-close {
    position: absolute;
    top : 10px;
    right : 20px;
    background: none;
    border: none;
    color : rgba(255, 255, 255, 0.8);
    padding : 10px;
}

.message .message-close:hover,
.message .message-close:focus {
    color : #fff;
}

.configure-success-msg {
}

.configure-success-msg .api-key {
    margin-top : 40px;
    margin-bottom : 40px;
    text-align: center;
    font-size: 20px;
    color : #5677fc;
    padding : 20px;
    background: #f0f0f0;
}

.configure-success-msg .hint {
    font-size : 12px;
}